{%extends 'base.html'%}

{%block main_block%}
<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bg-info text-white mt-5 ">
            <form action="" method="post" class=" mt-5">
                <h1 class="text-center text-light"><u>TASK PRO</u></h1>

                {%csrf_token%}

                {{form}}
                <center><button type="sumbit" class="my-3 h-100 form-control bg-light text-info">Add</button></center>
            </form>


        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}